<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/layout :: headerfiles"></div>
    <meta charset="UTF-8">
    <title>Form Input</title>
</head>
<body>
<h1 style="text-align: center">Create Discount</h1>
<form class="form" th:action="@{/create}" method="post" th:object="${discount}">
    <center>
        <table>
            <tr>
                <td>Title Discount:</td>
                <td><input type="text" th:field="*{title}"></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
            </tr>
            <tr>
                <td>Start Day:</td>
                <td><input type="date" th:field="*{startDay}"></td>
                <td th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}"></td>
            </tr>
            <tr>
                <td>End Day:</td>
                <td><input type="date" th:field="*{endDay}"></td>
                <td th:if="${#fields.hasErrors('endDay')}" th:errors="*{endDay}"></td>
            </tr>
            <tr>
                <td>Discount Value :</td>
                <td><input type="text" th:field="*{discountValue}"></td>
                <td th:if="${#fields.hasErrors('discountValue')}" th:errors="*{discountValue}"></td>
            </tr>
            <tr>
                <td>Description Discount:</td>
                <td><input type="text" th:field="*{description}"></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
            </tr>
            <tr>
                <td><input class="btn btn-success" type="submit" value="Create Discount"></td>
            </tr>
        </table>
    </center>
</form>
</body>
</html>