<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>List Blog</title>
</head>
<body>
<h3>List Blog</h3>
<p>
    <a th:href="@{/blog/create}">
        Add new blog
    </a>
</p>

<div th:if="${success}">
    <span th:text="${success}"></span>
</div>
<table id="blog">
    <thead>
    <tr>
        <th>NumBlog</th>
        <th>Title Blog</th>
        <th>Description Blog</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,r : ${blogs}">
        <td th:text="${r.count}"></td>
        <td th:text="${blog.getTitleBlog()}"></td>
        <td th:text="${blog.getDescBlog()}"></td>
        <td th:text="${blog.category.getNameCategory()}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${blog.getId()})}">Edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${blog.getId()})}">Delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${blog.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>