pre{
    background-color: rgba(16,255,250,0.79);
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    border-radius: 8px;
    font-family: "Bookman Old Style";
}
pre >h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
form {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
#result2{
    display: inline-block;
    text-align: right;
}
#result3{
    display: inline-block;
    text-align: right;
}
#totalresult{
    display: flex;
    flex-flow: row;
}
#totalresult > span{
    margin: 0 20px;
}
#bai6{
    text-align: center;
}