<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Delete Category</h3>
<p>
    <a th:href="@{/categories}">
        Back to category list
    </a>
</p>
<h4>Are you sure?</h4>
<div id="form">
    <form th:action="@{/categories/delete}" th:object="${category}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <label>Name Category:</label>
        <input type="text" th:field="*{nameCategory}" readonly/>
        <input type="submit" value="Remove!">
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>