<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item"><a routerLink="youtube" class="nav-link">Youtube</a></li>
      <li class="nav-item"><a routerLink="time-line" class="nav-link"> Ứng dụng tính thời gian </a></li>
      <li class="nav-item"><a routerLink="dictionary" class="nav-link"> Ứng dụng từ điển </a></li>
    </ul>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
