#naval {
    list-style-type: none;
    margin: 20px 0px 0 0;
    padding: 0;
    float: left;
    font-size: 16pt;
    color: red;
    font-weight: bolder;
}
.navbar{
    background-color: rgba(255,69,110,0.65);
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    justify-content: space-around;

}
#naval li {
    display: inline;
}
#naval li a:link, #naval li a:visited, #naval li a:active {
    text-decoration: none;
    color: #000000;
    padding: 0 16px 0 10px;
    margin: 0;
    border-right: 2px solid #B4B4B4;
}
#naval li a:link.last-link {
    border-right: 0px;
}
#naval li a:hover {
    /* change color on hover (mouseover) */
    color: white;
}

#top-color-splash {
    width: 100%;
    height: 70px;
    background: #EB6361;
}


.one-third {
    width: 75%;
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
}
.two-third {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-left: 40px;
    text-align: right;
    margin-top: 20px;
}

#image1 {
    width: 220px;
    height: 300px;
}

.menu_list {
    width: 200px;
    margin: 0;
    padding: 0;
    float: left;
}

.menuitem {
    background-color: #04ff00   ;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
}

.menuitem:hover {
    background-color: #ffffff;
}

.no-margin-top {
    text-align: center;
    font-size: 20px;
}

#menu_1 {
    width: 33%;
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
}

#menu_2 {
    width: 33%;
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
}

#menu_3 {
    width: 34%;
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: blue;
}
.normal-wrapper{
    display: flex;
    justify-content: center;
}
.menuitem>a{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}