#Convert{
    background-color: #1da1f2;
}
label{
    margin: 0 50px;
}
#tiente{
    margin: 0 30px;
    width: 100px;
}
#tiente2{
    margin: 0 75px;
    width: 100px;
}
#Convert{
    margin-left: 20px;

}