<h2> Calculator</h2>

<div>
  <div>
    <label>Number 1:</label>
    <input type="number" [(ngModel)]="number_a">
  </div>
  <div>
    <label>Number 2: </label>
    <input type="number" [(ngModel)]="number_b">
  </div>
  <button class="btn btn-primary" value="+" (click)="onClick($event.target.value)">Cộng</button>
  <button class="btn btn-success" value="-" (click)="onClick($event.target.value)">Trừ</button>
  <button class="btn btn-danger" value="*" (click)="onClick($event.target.value)">Nhân</button>
  <button class="btn btn-dark" value="/" (click)="onClick($event.target.value)">Chia</button>
</div>
<div>
  <h2>Result: {{result}}</h2>
</div>
