<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/}">
        Back to customer list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>ID Blog:</label>
        <input th:text="${blog.getId()}" readonly>
    </div>
    <div class="cusdetail">
        <label>Blog Title:</label>
        <input th:text="${blog.getTitleBlog()}" readonly>
    </div>
    <div class="cusdetail">
        <label>Description Blog:</label>
        <input th:text="${blog.getDescBlog()}" readonly>
    </div>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>